<div class="box">
    <div fxLayoutAlign="center center" fxFlexFill class="btn">
            <h1> Welcome Back! </h1> 
            <p> To keep connected with us please 
                login wih your personal info</p>
                <button mat-stroked-button type="submit"> SIGN IN </button>
       
       
        <mat-card fxFlex="25">
            <h1> Create Account </h1>
            <span class="material-icons"> facebook </span> 
            <span class="material-icons"> Google </span> 
            <span class="material-icons"> linkedIn </span> 
            <p> or use your email for registration:</p>
           
            <form fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> person </span> 
					</div>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> email </span> 
					</div>
                    <input matInput placeholder="Email">
                </mat-form-field>
              
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> lock </span> 
					</div>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <button color="primary" mat-raised-button type="submit"> SIGN UP </button>
            </form>
        </mat-card>
    </div>
</div>