<!-- <div class="box">
    <div fxLayoutAlign="center center" fxFlexFill class="btn">
            <h1> Welcome Back! </h1> 
            <p> To keep connected with us please 
                login wih your personal info</p>
                <button mat-stroked-button type="submit"> SIGN IN </button>
            <mat-card fxFlex="25">
            <h1> Create Account </h1>
            <span class="material-icons"> facebook </span> 
            <span class="material-icons"> Google </span> 
            <span class="material-icons"> linkedIn </span> 
            <p> or use your email for registration:</p>
           
            <form fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> person </span> 
					</div>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> email </span> 
					</div>
                    <input matInput placeholder="Email">
                </mat-form-field>
              
                <mat-form-field>
                    <div class="icon-with-text">
						<span class="material-icons"> lock </span> 
					</div>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <button color="primary" mat-raised-button type="submit"> SIGN UP </button>
            </form>
        </mat-card>
    </div>
</div> -->


<!-- <div class="row">
    <div class="box">
        <table mat-table></table>
    </div>
</div> -->
<!-- <div class="iq-card">
<div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header">
        <h1>Welcome Back!</h1>
        <p> To keep connected with us please </p>
        <p>login with your personal info</p>
        <div class="btn">
            <button mat-stroked-button type="submit"> SIGN IN </button>
        </div>
    </div>

</div>
</div>

<div class="iq-card-header">
    <div class="box">
        <h1>
            Create Account
        </h1>
    </div>
</div> -->

<!-- <div class="m-[40px] h-[320px] overflow-hidden rounded-[0.6rem] border">
    <div class="float-left h-full w-[38%] border bg-[#3BB397]">
      <div class="h-[6rem] p-1 text-[0.7rem] text-white"> Diprella</div>
      <div class="px-[1px] text-center text-lg font-bold text-white">Welcome Back!</div>
      <div class="px-[1px] text-center text-[0.7rem] text-white">
        To keep connected with us please login with your personal info.<br />
        <button class="mt-4 rounded-[1rem] border border-white p-1 px-4 text-xs">SIGN IN</button>
      </div>
    </div>
    <div class="float-right w-[62%] rounded-md text-center">
      <div class="mt-[30px] h-[6rem] p-1 px-[1px] text-center text-[0.7rem] text-lg font-bold text-[#3BB397]">Create Account<br>
      <button class="mt-2 rounded-[1rem] border border-gray-400 p-1 text-[0.5rem] leading-3">🌑</button>
      <button class="rounded-[1rem] border border-gray-400 p-1 text-[0.5rem] leading-3">🌑</button>
      <button class="rounded-[1rem] border border-gray-400 p-1 text-[0.5rem] leading-3">🌑</button></div>
      <div class="px-[1px] text-center text-[0.7rem] text-gray-500">
        Or use your email for registration :<br />
        <input type="text" class="mt-2 bg-gray-200 px-2 p-1 w-[200px] rounded-sm placeholder:text-[0.6rem]" placeholder="🧛‍♀️ Name" /><br>
        <input type="text" class="mt-2 bg-gray-200 px-2 p-1 w-[200px] rounded-sm placeholder:text-[0.6rem]" placeholder="📧 Email" /><br>
        <input type="text" class="mt-2 bg-gray-200 placeholder:text-[0.6rem] px-2 p-1 w-[200px] rounded-sm" placeholder="🔓 Password " />
      </div>
      <button class="mt-4 rounded-[1rem] border text-white bg-[#3BB397] p-1 px-5 text-[0.6rem]">SIGN UP</button>
    </div>
</div> -->



<div class="float-container">

    <div class="float-child">
        <br> <br> <br> <br>
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="btn"> SIGN IN </button>
    </div>
    
    <div class="float-child1">
        <h1 class="md"><b>Create Account</b></h1>
        <span class="material-icons"> facebook </span> 
        <span class="material-icons"> G </span> 
        <span class="material-icons"> linkedin </span> <br><br>
        <p class="mh"> or use your email for registration:</p>
        <input class="mk" type="text" placeholder="🧛‍♀️ Name" />
        <input class="mn" type="text" placeholder="📧 Email" />
        <input class="mp" type="text" placeholder="🔓 Password " /><br><br>
        <button class="btn"> SIGN UP </button>
    </div>
    
  </div>

  